body {    /* Добавил свойства, которые повторяются на протяжении всего документа */
    width: 100%;
    background: #F5F5F5;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #121212;

}

* {
    letter-spacing: -0.03em;
}

.container {   /* Обобщающий контейнер для всего сайта, с целью задать белый фон и ширину */
    width: 1400px;
    margin: 0 auto;
    background: #FFFFFF;
    
}

.container-inline { /* Контейнер для каждой группы элементов */
    box-sizing: border-box;
    margin-bottom: 150px;
    padding-left: 125px;
    padding-right: 125px;
    background: #FFFFFF;

}

h1 {
    width: 956px;
    height: 120px;
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;

}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;

    text-transform: uppercase;
}


p {
    width: 1048px;
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 61px;
}

.banner {
    width: 1150px;
    height: 500px;
    background-image: url(banner.png);
}

.banner p {
    width: 430px;
    height: 81px;
    padding-top: 379px;
    padding-left: 40px;
    padding-bottom: 40px;

    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 255px;
    height: 67px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;

    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;

}

