.contacts {
    padding-top: 150px;
    padding-bottom: 160px;
}

.contacts-title{
    position: relative;
    margin-bottom: 74px;
}

.contacts-wrapper {
    display: flex;
    column-gap: 104px;
}

.tel {
    position: relative;

    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;

    white-space: pre;
}

.tel::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -50px;
    left: -6px;

    background-image: url("../resources/phone-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.mail {

    position: relative;
    top: -10px;
    left: 4px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: underline 2px;
    text-underline-offset: 15px;
    opacity: 0.5;

}

.mail::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: -40px;
    left: -2px;

    background-image: url("../resources/mail-icon.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}